:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.admin-container {
  width: 440px;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  background: #F2F2F2;
  padding: 20px;
}

.container-btn{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.mat-raised-button{
  background-color: #2F80ED;
}
