<div class="admin-container">
  <h1>Create new card</h1>
  <mat-form-field appearance="legacy">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Img</mat-label>
    <input matInput [(ngModel)]="img">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Link video</mat-label>
    <input matInput [(ngModel)]="linkVideo">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="creatCard">Creat card</button>
</div>

