:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-container {
  width: 350px;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  background: #F2F2F2;
  padding: 20px;
}

.mat-raised-button{
  background-color: #2F80ED;
}
