:host {
  width: 263px;
  height: 327px;
  margin: 30px 15px 0 15px;
}

.example-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #E5E5E5;
  border-radius: 5px;
}

.card-img{
  width:223px;
  height: 167px;
}


.stat-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.stat-item{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.stat-item img{
  align-self: center;
  margin-right: 5px;
}

.stat-item:last-child img{
  position: relative;
top: 20%;
}

.mat-button{
  position: relative;
  width:120px;
  height:32px;
  background: #2F80ED;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}

.mat-card-header {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #4F4F4F;
  text-align: center;
}

.mat-card-actions {
  position: absolute;
  left: 30%;
  bottom: 5%;
}
